@font-face {
  font-family: "PPNeueMontreal";
  src: url("./PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("./PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("./PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
